.widget__text {
    font-family: "Museo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #000000;
    margin: 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget__desc--error {
    text-align: center;
    color: rgba(51, 51, 51, 0.6);
    font-size: 12px;
    line-height: 14px;
    max-width: 178px;
}

.widget__mail {
    color: rgb(0, 85, 187);
    text-decoration: none;
}