body {
    background-color: #F5F5F5;
}

iframe {
    border:none;
    margin: 0 auto;
    display: block;
}

.widgets {
    margin: 0 auto;
    width: 500px;
}

.code {
    font-size: 16px;
    width: 100%;
    height: 150px;
    resize: none;
}