@import url('../../../css/fonts.css');
@import url('../../../css/style.css');
@import url('../../../css/button/button.css');
@import url('../../../css/payment-block/payment-block.css');

.widget {
    width: 220px;
    height: 100px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.widget__button {
    width: 220px;
    height: 59px;
    border-radius: 100px;
    font-size: 19px;
    line-height: 59px;
    margin: 0 auto;
}

.widget__payment-block {
    width: 191px;
    height: 18px;
    margin: 20px auto 0;
}