@import url('../../../css/style.css');
.widget {
    width: 220px;
    height: 100px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.widget__button {
    width: 220px;
    height: 59px;
    border-radius: 100px;
    font-size: 19px;
    line-height: 59px;
    margin: 0 auto;
}

.widget__payment-block {
    width: 191px;
    height: 18px;
    margin: 20px auto 0;
}

.widget__oferta {
    width: 200px;
}

.block_oferted .widget__button {
    width: 220px;
    height: 48px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 48px;
    margin: 0 auto;
}

.block_oferted .widget__payment-block {
    width: 191px;
    height: 18px;
    margin: 5px auto;
}

.widget__title {
    margin: 0 0 8px 0;
}

.widget__desc--error {
    margin: 0 !important;
}