.widget__title {
    font-family: "Museo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget__title--error {
    color: #D0021B;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 13px;
    height: 20px;
}
