@import url('../../../css/fonts.css');
@import url('../../../css/style.css');
@import url('../../../css/button/button.css');
@import url('../../../css/field/field.css');
@import url('../../../css/payment-block/payment-block.css');

.widget__field {
    margin: 26px auto 0;
    width: 194px;
}

.widget__input {
    width: 194px;
}

.widget__bar  {
    width: 194px;

}

.widget__currency {
    position: absolute;
    bottom: 0;
    right: 0;
}

.widget__button {
    display: block;
    margin: 22px auto 0;
    width: 200px;
    box-shadow: 0 12px 15px 0 rgba(255, 140, 0, 0.2);
}

.widget__payment-block {
    width: 203px;
    height: 18px;
    margin: 17px auto 0;
}