@import url('../../../css/style.css');
.widget__title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
}

.widget__title--error {
    margin: 0;
    font-weight: 500;
}

.widget__field {
    margin: 26px auto 0;
    width: 194px;
}

.widget__input {
    width: 194px;
}

.widget__form {
    margin: 0;
    flex-direction: column;
}

.widget__bar {
    width: 194px;
}

.widget__button {
    display: block;
    margin: 22px auto 0;
    width: 200px;
}

.widget__button-shadow {
    box-shadow: 0 12px 15px 0 rgba(255, 140, 0, 0.2);
}

.widget__payment-block {
    width: 203px;
    height: 18px;
    margin: 17px auto 0;
}

.widget__be-partner {
    margin: 18px auto 0;
}

.widget__oferta {
    width: 202px;
    font-size: 12px;
    margin: 14px auto 0;
}

.widget__text {
    margin: 0;
    font-size: 12px;
}

.widget__desc--error {
    margin: 12px 0 0;
}

.block_oferted .widget__field {
    margin: 18px auto 0;
}

.block_oferted .widget__payment-block {
    margin: 12px auto 0;
}

.block_oferted .widget__be-partner {
    margin: 12px auto 0;
}

.block_oferted .widget__button {
    margin: 20px auto 0;
}

.widget__label {
    bottom: 20px;
}

.widget__bar {
    bottom: 8px;
}


.widget__field--fixed-amount .widget__input {
    text-align: center;
    padding: 0;
}