@import url('../../../css/fonts.css');
@import url('../../../css/style.css');
@import url('../../../css/button/button.css');
@import url('../../../css/payment-block/payment-block.css');

.widget {
    width: 175px;
    height: 65px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.widget__button {
    width: 175px;
    height: 42px;
    border-radius: 100px;
    font-size: 14px;
    line-height: 42px;
    margin: 0 auto;
}

.widget__payment-block {
    width: 148px;
    height: 14px;
    margin: 6px auto 0;
}

.widget__payment-block-visa {
    width: 27px;
    height: 9px;
}

.widget__payment-block-mir {
    width: 24px;
    height: 9px;
}
.widget__payment-block-master-card {
    width: 21px;
    height: 14px;
}
.widget__payment-block-qiwi {
    width: 35px;
    height: 14px;
}