@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_300_cyrillic/MuseoSansCyrl_300-webfont.eot');
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_300_cyrillic/MuseoSansCyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_300_cyrillic/MuseoSansCyrl_300-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_300_cyrillic/MuseoSansCyrl_300-webfont.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_300_cyrillic/MuseoSansCyrl_300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_500_cyrillic/MuseoSansCyrl_500-webfont.eot');
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_500_cyrillic/MuseoSansCyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_500_cyrillic/MuseoSansCyrl_500-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_500_cyrillic/MuseoSansCyrl_500-webfont.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_500_cyrillic/MuseoSansCyrl_500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl900';
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_900_cyrillic/MuseoSansCyrl_900-webfont.eot');
    src: url('../fonts/MuseoSansCyrl/museosanscyrillic_900_cyrillic/MuseoSansCyrl_900-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_900_cyrillic/MuseoSansCyrl_900-webfont.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_900_cyrillic/MuseoSansCyrl_900-webfont.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/museosanscyrillic_900_cyrillic/MuseoSansCyrl_900-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}