@import url('./fonts.css');

body {
    font-family: "Museo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.widget {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #e7e7e7;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget__button-block {
    margin: 16px 0 0;
}

.widget__footer {
    margin: 16px 0 0;
    position: relative;
    width: 100%;
}
