<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QIWI charity widgets</title>
</head>
<body>
    <h1>widget 1</h1>
    <iframe width="300" height="300" src="/widget 1/index.html?public_key=5nAq6abtyCz4tcDj89e5w7Y5i524LAFmzrsN6bQTQ3ceEvMvCq55ToeErzhxNemD6rMzCtzRx9jhV5kUUUyG2BC9sqbKjkRVuFjWXicbby5XJjUAnKNcNDdfEZ" allowtransparency="true"></iframe>


    <% for (var i=0; i < htmlWebpackPlugin.options.chunks.length; i++){ %>
    <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.chunks[i]].entry %>"></script>
    <% } %>

</body>
</html>