@import url('../../../css/fonts.css');
@import url('../../../css/style.css');
@import url('../../../css/button/button.css');
@import url('../../../css/payment-block/payment-block.css');

.widget {
    width: 300px;
    height: 180px;
}

.widget__title {
    margin: 17px auto 0;
}

.widget__button {
    width: 200px;
    height: 47px;
    box-shadow: 0 12px 15px 0 rgba(255, 140, 0, 0.2);
    line-height: 47px;
    margin: 16px auto 0;
}

.widget__payment-block {
    width: 203px;
    height: 18px;
    margin: 16px auto 0;
}

.widget__be-partner {
    margin-top: 16px;
}
