@import url('../../../css/style.css');
.widget {
    width: 300px;
    height: 180px;
}

.widget__title {
    margin: 20px auto 0;
}

.widget__button {
    width: 200px;
    height: 47px;
    line-height: 47px;
    margin: 18px auto 0;
}

.widget__button-shadow {
    box-shadow: 0 12px 15px 0 rgba(255, 140, 0, 0.2);
}

.widget__payment-block {
    width: 203px;
    height: 18px;
    margin: 20px auto 0;
}

.block_oferted .widget__button {
    margin: 16px auto 0;
}

.widget__oferta {
    width: 200px;
}
.block_oferted .widget__payment-block {
    width: 203px;
    height: 18px;
    margin: 10px auto;
}
