.widget__be-partner {
    display: block;
    height: 12px;
    font-family: "Museo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    opacity: 0.6;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
}
